* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#nav{
    background:gray;
}
nav .button{
    text-align:right;
}
form{
    height: 290px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

form .card {
    width:350px;
    height:250px;
    background:gray;
    flex-direction: column;
    padding: 0 15px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
}

form input {
    display: flex;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
form label{
    padding:0px 15px;
}
form .button{
    text-align:right;
}
#rodape{
    background:gray;
}
.footer{
   position: absolute;
   bottom: 0;
   width:100%;
   text-align:center;
}