<!doctype html>
<html lang="en">

<head>
  <title>Rafael Moreira Tips</title>
  <!--Icon do tittle-->
  <link rel="shotcut icon" type="imagex/png" href="../icons/jogador-de-futebol.ico">
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!--Local style-->
  <link rel="stylesheet" type="text/css" href="../style/index.css" media="screen">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<!--Nav bar init-->
<header id="nav">
  <nav class="navbar navbar-expand-lg navbar-light bg-ligth" >
    <a class="navbar-brand">Rafael Moreira Tips</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Maximas<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Analise completa</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Menu
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Jogos</a>
            <a class="dropdown-item" href="#">Resultados</a>
            <a class="dropdown-item" href="#">Times</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Proximas partidas</a>
            <a class="dropdown-item" href="#">Partidas anteriores</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" tabindex="-1" aria-disabled="false">Horarios</a>
        </li>
      </ul>
      <!--Formulario de Login-->
      <form class="form-inline my-2 my-lg-0" method="POST" action="...">
        <input class="form-control mr-sm-2" type="email" placeholder="Email" aria-label="Email" id="email" Required />
        <input class="form-control mr-sm-2" type="password" placeholder="Password" id="password" Required />
        <button class=" my-2 my-sm-0" type="submit">Entrar</button>
      </form>
      <a href="../templates/cadastro.html"><button class=" my-2 my-sm-0">Cadastre-se</button></a>

    </div>
  </nav>
</header>

<body>
  <!--Inciando index-->

  <!-- Local JavaScript -->
  <script src="../src/index.js"></script>
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>

</body>

</html>