<!doctype html>
<html lang="en">

<head>
    <title>Login</title>
    <!--Icon tittle-->
    <link rel="shotcut icon" type="imagex/png" href="../icons/jogador-de-futebol.ico">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--Local css-->
    <link rel="stylesheet" type="text/css" href="../style/login.css" media="screen">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<!--Inicio do nav bar-->
<header id="nav">
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand">Sinais Rafa</a>
        <div class="button">
            <a href="../templates/cadastro.html">
                <button class="btn btn-group bg-light" type="submit">Cadastre-se</button>
            </a>
        </div>
    </nav>
</header>

<body>
    <form action="index.html">
        <div class="card">
            <label for="">
                <img src="../icons/jogador-de-futebol.ico" alt="">
                <h3 class="textp-da-intro">Login</h3>
            </label>
            <label for="" class="email">
                <input type="email" name="email" placeholder="Insira o seu email" id="email" required />
            </label>
            <label for="">
                <input type="password" name="password" placeholder="Insira sua senha" id="password" required />
            </label>
            <div class="check-box">
                <label for="check">
                    <input type="checkbox">
                    Li e aceito os <a href="#">Temos de uso</a>
                </label>
            </div>
            <label for="button">
                <div class="button">
                    <button class="btn btn-group bg-light" type="submit">Entrar</button>
                </div>
            </label>
        </div>
    </form>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <div class="footer">
        <Footer>
            Copyright 2021 <article>Caio Ferreira</article>
        </Footer>
    </div>
</body>

</html>